.back_btn{
    position: fixed;
    bottom: 62px;
    right: 8%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    z-index: 5;
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #20a87e;
    border-radius: 50%;
}

.back_item{
    padding: 16px 0;
    display: inline-block;
    line-height: 24px;
}

.back_img{
    vertical-align: middle;
    transform: rotate(-90deg);
    width: 22px;
}